<h1>Editando empleado <%=@employee.name%></h1>

<%= render "form_edit", employee: @employee %>

<br>

<div>
  <%= link_to "Show this employee", @employee %> |
  <%= link_to "Back to employees", employees_path %>
</div>
